@media screen and (max-width:850px){
    .article_topic{
        margin-top: 40px;
    }
}

.mini{
    height: 400px;
    background-color: rgb(92, 92, 92);
    background-image: url("../../assets/pics/person-holding-sewing-machine-2973392\ \(1\).jpg");
    background-position: 0 -600px;
    background-blend-mode: multiply;
    padding-top: 100px;
}

.mini_content{
    width: 100%;
    font-family: erosion;
    font-size: 3.5rem;
    text-align: center;
    color: coral;
    margin-top: 300pxj;
}

@media screen and (max-width:360px){
    .mini_content{
        font-size: 50px;
    }
}

.subtitle{
    color: white;
    font-family: lato;
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.cutting_navlink{
    color: #ff7f50 ;
    border-bottom: solid 2px coral;
}

.products{
    color:white;
    background-color:rgb(65, 118, 232);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    margin-top: -20px;
}


