li{
    list-style: none;
}
.cardio{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 500px;
}

@media screen and (max-width:699px) and (min-width:200px){
    .cardio{
        width:100%;
        margin-left: 0;
        display:inline-block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:959px) and (min-width:850px){
    .cardio{
        width:100%;
        margin-left: 0;
        display: inline-block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:849px) and (min-width:700px){
    .cardio{
        width:80%;
        margin-left: 10%;
        height:200px;
    }
}

@media screen and (max-width:1143px) and (min-width:960px){
    .cardio{
        width:98%;
        margin-left: 1%;
    }
}

.img_card{
    width: 300px;
    height: 25em;
    background-color: coral;
    float: left;
    background-size: cover;
    object-fit: cover;
}

@media screen and (max-width:699px) and (min-width:200px){
    .img_card{
        width:100%;
        height: 15em;
        margin-bottom: 5px;
        margin-right: 0;
    }
}

@media screen and (max-width:849px) and (min-width:700px){
    .img_card{
        width:100%;
        height: 15em;
        margin-bottom: 5px;
        margin-right: 0;
    }
}

@media screen and (max-width:959px) and (min-width:850px){
    .img_card{
        width:15em;
        margin-left: 0;
        background-position-x: -150px;
    }
}

.sub_one{
    background-image: url('../../assets/pics/person-sketching-dress-on-printer-paper-with-clip-board-1478477.jpg');
    
}

.sub_two{
    background-image: url('../../assets/pics/paper-cutting-tools-on-graphics-board-1409218\ \(1\).jpg');
    
}

.sub_three{
    background-image: url('../../assets/pics/List\ of\ 10\ Sewing\ Tools\ Every\ Sewer\ Needs.jpg');
    
}


.text_card{
    width: 65%;
    height: auto;
    margin-left: 20px;
    float: left;
    font-family: lato;
}

@media screen and (max-width:699px) and (min-width:200px){
    .text_card{
        width:100%;
        margin-left: 5px;
    }
}

@media screen and (max-width:849px) and (min-width:700px){
    .text_card{
        width:100%;
        margin-left: 5px;
    }
}


@media screen and (max-width:959px) and (min-width:850px){
    .text_card{
        width:70%;
        margin-left: 15px;
        margin-right: 0;
    }
}

.sub_topic{
    width: 100%;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif  
}

@media screen and (max-width:699px) and (min-width:200px){
    .sub_topic{
        width:100%;
        padding: 0;
        font-size: 1.5rem;
    }
}

.external_link{
    padding:10px;
    width: 100px;
    background-color: #41E894;
    color: white;
}
