/* please avoid adding more one screen in the media query, the result may be weird and unexpected*/

html,body{
    margin:0;
}

*{
    box-sizing: border-box;
}

@font-face{
    src: url(../assets/fonts/Adam.otf);
    font-family: Adam;
}

@font-face{
    src: url(../assets/fonts/GeosansLight.ttf);
    font-family: geosans;
}

@font-face{
    src: url(../assets/fonts/Lato-Light.ttf);
    font-family: lato;
}

@font-face{
    src: url(../assets/fonts/bitcrusher\ condensed\ bd.ttf);
    font-family: bitcrusher;
}

@font-face{
    src: url(../assets/fonts/Antipasto-Pro-Regular-trial.ttf);
    font-family: anti-pasto;
}

@font-face{
    src: url(../assets/fonts/Examples\ of\ erosion.ttf);
    font-family: erosion;
}

@font-face{
    src: url(../assets/fonts/CAMPUS\ PERSONAL\ USE.ttf);
    font-family: campus;
}
@font-face{
    src: url(../assets/fonts/Bebas-Regular.otf);
    font-family: bebas;
}

.nav_bar{
    width:100%;
    height:40px;
    position:fixed;
    top:0;
    background-color: #41E894;
    z-index: 2;
    padding-right: 5px;
}

@media screen and (max-width:360px){
    .nav_bar{
        height: 30px;
        padding-top: 2.5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:375px){
    .nav_bar{
        height: 40px;
        padding-top: 2.5px;
        padding-right: 5px;
    }
}

@media screen and (max-width:480px){
    .nav_bar{
        top: 0;
        margin-right: 2px;
    }
}

li.data{
    list-style-type: none;
    margin-top: 5px;
}

.data{
    color:white;
    font-size: 20px;
    font-family: bebas;
    display: inline;
    margin-left: 10px;
}

.left{
    float: left;
}

@media screen and (max-width:480px){
    .platform{
        display: none;
    }
}


.search{
    width:300px;
    height:35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top:1.5px;
    padding-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.search::placeholder{
    color: rgb(207, 205, 205);
}

.search:hover::placeholder{
    color: #41E894;
}

@media screen and (max-width:320px){
    input.search{
        width:170px
    }
}

@media screen and (max-width:360px){
    input.search{
        height: 27px;
        width: 190px;
        margin-top: -1.5px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}

@media screen and (max-width:375px){
    input.search{
        width: 190px;
    }
}

@media screen and (max-width:480px){
    input.search{
        width: 200px;
    }
}

.go_btn{
    width: 55px;
    height: 35px;
    background-color: #ff7f50;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    margin-left: 0;
    margin-top: 1.5px;
}

@media screen and (max-width:320px){
    .go_btn{
        width: 45px;
    }
}

@media screen and (max-width:360px){
    .go_btn{
        height: 27px;
        width: 50px;
        margin-top: -1.5px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 3px;
    }
}

@media screen and (max-width:480px){
    .go_btn{
        width: 40px;
        font-size: 12px;
        padding: 0;
    }
}

.right{
    float:right;
    margin-right:5px;
}

@media screen and (max-width:360px){
    .right{
        margin-right: 0;
    }
}

.newsletter, .measurement_navlink, .cutting_navlink, .trends_navlink{
    margin-top: 5px;
}

@media screen and (max-width:320px){
    .newsletter, .cutting_navlink, .trends_navlink{
        display: none;
    }
}

@media screen and (max-width:360px){
    .newsletter, .measurement_navlink, .cutting_navlink, .trends_navlink{
        display: none;
    }
}

@media screen and (max-width:375px){
    .newsletter, .measurement_navlink, .cutting_navlink, .trends_navlink{
        display: none;
    }
}

@media screen and (max-width:480px){
    .newsletter, .cutting_navlink, .trends_navlink{
        display: none;
    }
}

@media screen and (max-width:720px){
    .newsletter, .cutting_navlink, .trends_navlink{
        display: none;
    }
}

a{
    text-decoration: none;
}

.bus_icon,.menu_icon{
    height:40px;
    width:40px;
}

.menu_icon{
    display: inline;
}

@media screen and (max-width:360px){
    .bus_icon,.menu_icon{
        height: 22px;
        width: 22px; 
    }

    .menu_icon{
        margin-right: 10px;
        margin-top: 5px;
        z-index: 3;
    }
}


.hero{
    margin-top: 40px;
    background-image: url('../assets/pics/woman-in-white-button-up-shirt-leaning-on-cloth-hanging-3984885.jpg');
    background-size:cover;
    width: 100%;
    height: 600px;
} 

@media screen and (max-width:360px){
    .hero{
        margin-top: 30px;
        height: 500px;
    }
}

@media screen and (max-width:480px){
    .hero{
        background-position: -100px 0;
        height: 400px;
    }
}

.hero_ul{
    position: absolute;
    top:25%;
}

@media screen and (max-width:360px){
    .hero_ul{
        left: -3%;
    }
}

@media screen and (max-width:480px){
    .hero_ul{
        top: 100px;
        left: -1%;
    }
}

li.bigger{
    font-family: bebas;
    line-height: 1;
    font-size: 100px;
    filter: drop-shadow(10px 10px 10px black);
    text-align: left;
}

@media screen and (max-width:320px){
    li.bigger{
        font-size: 50px;
        margin-right: 40px;
    }
}

@media screen and (max-width:360px){
    li.bigger{
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:480px){
    li.bigger{
        font-size: 80px;
        text-align: left;
    }
}

.hero_label{
    list-style:none;
    text-align: center;
    color: white;
    margin-top:10px;
    font-size: 20px;
    padding-left: 6px;
}

.sub_label{
    width: 300px;
    height: 40px;
    background-color: coral;
    font-family: geosans;
    padding: 7px;
    border-radius: 20px;
}

@media screen and (max-width:320px){
    .sub_label{
        width: 100%;
        margin-left: -40px;
    }
}

@media screen and (max-width:360px){
    .sub_label{
        height: 35px;
        /* margin-left: -20px; */
    }
}

@media screen and (max-width:480px){
    .sub_label{
        margin-left:0;   
    }
}

.side_menu{
    position: fixed;
    width: 25%;
    top: 30px;
    right: 0.5%;
    background-color: whitesmoke;
    z-index: 1;
    transition: 0.5s;
    list-style-type: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

@media screen and (max-width:360px){
    .side_menu{
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:720px){
    .side_menu{
        right: 0;
        width: 100%;
        text-align: center;
    }
}

.menulist{
    margin-top: 0;
    width: 100%;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: lato;
    transition: 0.3s;
}

.menulist:hover{
    color: #41E894;
}

.tripple_card{
    width: 100%;
    height: 500px;
    background-color: white;
    list-style: none;
}

@media screen and (max-width:320px) and (orientation:landscape){
    .tripple_card{
        padding: 5px;
    }
}

@media screen  and (max-width:360px){
    .tripple_card{
        height: auto;
        padding:5px;
    }
}

@media screen  and (max-width:480px){
    .tripple_card{
        height: auto;
        padding:5px;
    }
}

@media screen  and (max-width:720px){
    .tripple_card{
        height: auto;
        padding:5px;
    }
}

.card{
    width: 25%;
    height: 300px;
    background-color: whitesmoke;
    margin-left: 85px;
    margin-top: 100px;
    float: left;
    box-shadow: 2px 2px 10px 5px rgb(204, 204, 204);
}

@media screen and (max-width:360px){
    .card{
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width:480px) and (orientation:portrait){
    .card{
        float: inline;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:720px) and (min-width:640px){
    .card{
        width: 40%;
        margin-left: 50px;
        margin-right: 0;
    }
}

.measurement,.cutting,.sewing{
    background-image: url(../assets/pics/fabric-scissors-needle-needles-scissors-461035\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cutting{
    background-image: url(../assets/pics/woman-in-red-long-sleeve-dress-holding-a-scissors-3738076\ \(1\).jpg);
}

.sewing{
    background-image: url(../assets/pics/person-holding-sewing-machine-2973392\ \(1\).jpg);
}

@media (max-width:720px) and (min-width:640px){
    .sewing{
        margin-left: 30%;
    }
}

.card_link_btn{
    height:70px;
    font-family: anti-pasto;
    font-size: 30px;
    text-align: center;
    padding-top:20px;
    margin-top: 0;
    text-decoration: none;
    background-color: coral;
    color:white;
}

@media screen and (max-width:360px){
    .card_link_btn{
        float: right;
    }

    .measurement_link{
        margin-top: -800px;
        z-index: 2;
    }

    .cutting_link{
        margin-top: -400px;
    }
}

@media screen and (max-width:480px){
    .card_link_btn{
        float: right;
    }

    .measurement_link{
        margin-top: -800px;
        z-index: 2;
    }

    .cutting_link{
        margin-top: -400px;
    }
}

@media screen and (max-width:720px) and (min-width:640px){
    .card_link_btn{
        float: right;
    }

    .measurement_link{
        margin-top: -400px;
        margin-right: 375px;
        z-index: 2;
    }

    .cutting_link{
        margin-top: -400px;
        margin-right: 42px;
    }

    .techniques_link{
        margin-right: 213px;
    }
}

.article_topic{
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    font-size: 100px;
    font-family: bitcrusher;
}

.social_media{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: whitesmoke;
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
    margin-top:70px;
    float: right;
}

.facebook,.instagram,.twitter,.pinterest{
    background-image: url(../assets/icons/036-facebook.png);
    background-size: cover;
    object-fit: cover;
}

.instagram{
    background-image: url(../assets/icons/029-instagram.png);
}

.twitter{
    background-image: url(../assets/icons/008-twitter.png);
}

.pinterest{
    background-image: url(../assets/icons/021-pinterest.png);
}

.author{
    font-size: 10px;
}

@media screen and (max-width:360px){
    .article_topic{
        font-size: 50px;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 200px;
    }

    .social_media{
        display: block;
        margin-top: 0;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}


@media screen and (max-width:480px){
    .article_topic{
        font-size: 50px;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 200px;
    }

    .social_media{
        display: block;
        margin-top: 0;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:720px){
    .article_topic{
        font-size: 50px;
        width: 95%;
        margin-left: 2.5%;
        margin-top: 900px;
        text-align: center;
    }

    /* .social_media{   
        margin-right: 10px;
        width: 40px;
        height: 40px;
    } */
}



section.article{
    height: auto;
    width: 60%;
    margin-top: 20px;
    margin-left: 20%;
    background-color: white;
    font-size: 20px;
    font-family: lato;
    line-height: 1.5;
    text-align: justify;
    padding: 15px;

}

/* think of removing this one later and others like this */

@media screen and (max-width:360px){
    section.article{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 50px;
    }
}

@media screen and (max-width:480px){
    section.article{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 30px;
    }
}

blockquote{
    background-color: rgb(236, 236, 236);
    border-left: solid 10px coral;
    padding: 10px;
}

@media screen and (max-width:360px){
    blockquote{
        width: 95%;
        margin-left: 2.5%;
    }
}

@media screen and (max-width:480px){
    blockquote{
        width: 98%;
        margin-left: 1%;
    }
}

.author{
    margin-top: 40px;
    margin-left: 20%;
    height: 50px;
    width: 300px;
    background-color: whitesmoke;
    font-size: 30px;
    font-family: anti-pasto;
    padding: 10px;
    padding-top: 15px;
}

@media screen and (max-width:360px){
    .author{
        margin-left: 2%;
        margin-top: 50px;
    }
}

.comments_section{
    width: 60%;
    padding: 10px;
    margin-left: 20%;
    margin-top: 40px;
    background-color: whitesmoke;
}

@media screen and (max-width:360px){
    .comments_section{
        width: 95%;
        margin-left: 2.5%;
    }
}

@media screen and (max-width:480px){
    .comments_section{
        width: 95%;
        margin-left: 2.5%;
    }
}

.comment_box{
    width:100%;
    height:150px;
    padding: 10px;
    font-family: lato;
    font-size: larger;
}

.submit_btn{
    width: 100px;
    height: 40px;
    background-color: #41E894;
    color: white;
    font-family: lato;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.commentators{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    padding-top: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.comment_title{
    font-family: geosans;
    font-weight: bold;
}

.comment_name{
    width: 100%;
    height: 50px;
    font-size: large;
    background-color: #EEEEEE;
    padding:5px;
    margin-top: 10px;
    border-radius: 3px;
    font-family: lato;
    font-weight: bold;
}

.time{
    list-style: none;
    font-size: small;
    color: coral;
}

.comment_post{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 3px;
    font-family: lato;
}

.blog_footer{
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 0;
}

.blog_footer>li{

    margin-top: 10px;
    list-style: none;
}

.footer{
    width: 25%;
    height: 300px;
    margin-top: 70px;
    float: left;
    margin-left: 11%;
    font-family: lato;
    font-weight: bold;
    line-height: 50px;
    list-style:none;
}

.footer>a{
    display: block;
    color: black;
}

.first{
    margin-left: 5%;
}

.second{
    margin-left: 12%;
}

.third{
    margin-left: 8%;
    margin-right:0;
}

@media screen and (max-width:360px){
    .blog_footer{
        display: none;
    }

}
@media screen and (max-width:375px){
    .blog_footer{
        display: none;
    }

}

@media screen and (max-width:480px){
    .first{
        margin-left: 5%;
    }  
} 